* {
	box-sizing: border-box;
}

body {
	margin: 0;
	width: 100%;
	min-height: 100vh;
	overflow: hidden;
}

#book-container {
	display: flex;
}

#right-section {
	width: 90vw;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

#social {
	position: absolute;
	top: 96px;
	right: 66px;
}

.social-list {
	list-style-type: none;
	display: flex;
	flex-direction: column;
	gap: 12px;
}

.social-list li {
	cursor: pointer;
	transition: transform 0.2s ease;
}

.social-list li img {
	filter: invert(1) hue-rotate(180deg);
}

.social-list li:hover {
	transform: scale(1.3);
}

.page-info {
	position: absolute;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	top: 34px;
	left: 112px;
	color: black;
}

.app-title {
	font-family: "Libre Franklin", sans-serif;
	font-size: 1.8em;
	font-weight: 900;
	margin: 0 0 33px;
}

.page-title {
	font-family: "Poppins", sans-serif;
	text-align: start;
	font-size: 1.2em;
	font-weight: lighter;
}

.page-title a {
	color: black;
	text-decoration: none;
	font-weight: 600;
}

#left-section {
	width: 100vw;
	min-height: 100vh;
	padding: 38px 86px 38px 112px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 200px;
}

.more-autor-book {
	align-self: flex-end;
	padding-top: 58px;
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.more-autor-book div {
	display: flex;
	gap: 40px;
}

.more-autor-book div span {
	font-family: "Poppins", sans-serif;
	font-size: 1.3em;
}

.more-autor-book div span:first-child {
	width: 200px;
	color: gray;
	font-weight: 100;
}

.more-autor-book div span:last-child {
	flex: 1;
}

.more-book-book .about-author {
	font-family: "Poppins", sans-serif;
	font-weight: 300;
	font-size: 1.2em;
	color: gray;
	margin-bottom: 12px;
}

.more-book-book .about-book {
	font-family: "Libre Caslon Text", sans-serif;
	font-weight: 600;
	font-size: 3em;
	margin: 0 0 20px;
}

.designer-info {
	display: flex;
	gap: 15px;
	align-items: center;
	margin-bottom: 40px;
}

.designer-info div {
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.designer-info div p {
	font-family: "Poppins", sans-serif;
	margin: 0;
}

.designer-info div p:last-child {
	color: gray;
}

.more-book-book p {
	font-family: "Poppins", sans-serif;
	font-size: 1.2em;
	color: gray;
	margin: 0;
}

#line-book {
	display: block;
	width: 100%;
	margin-top: 20px;
	height: 1px;
	border-bottom: 1px solid gray;
}

::-webkit-scrollbar {
	width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #555;
}
