* {
	box-sizing: border-box;
}

body {
	margin: 0;
	min-width: 320px;
	min-height: 100vh;
	overflow-x: hidden;
	overflow-y: scroll;
	scroll-behavior: smooth;
	scroll-snap-type: y mandatory;
}

#hero {
	position: relative;
	width: 100vw;
	height: 100vh;
	margin: 0;
	padding: 0;
	text-align: center;
	overflow: hidden;
	scroll-snap-align: center;
}

#hero-slides {
	width: 400%;
	height: 100%;
	display: flex;
	flex-direction: row;
	transition: transform 0.7s ease;
}

#kafka,
#murakami,
#orwell,
#rand {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

#kafka {
	background-image: url("../public/images/kafka/kafka-bg.png");
}

#murakami {
	background-image: url("../public/images/murakami/norwegian-wood-bg.png");
}

#orwell {
	background-image: url("../public/images/orwell/orwell-bg.jpg");
}

#rand {
	background-image: url("../public/images/rand/atlas-bg.png");
}

#hero-overlay {
	background-color: rgba(0, 0, 0, 0.12);
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	transition: all .4s ease;
	-webkit-transition: all .4s ease;
	-moz-transition: all .4s ease;
	-ms-transition: all .4s ease;
	-o-transition: all .4s ease;
}

.page-head {
	position: absolute;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	top: 34px;
	left: 112px;
	color: white;
}

.page-logo {
	font-family: "Libre Franklin", sans-serif;
	font-size: 1.8em;
	margin: 0 0 33px;
	font-weight: 900;
}

.page-route {
	font-family: "Poppins", sans-serif;
	text-align: start;
	font-size: 1.2em;
	font-weight: lighter;
}

.page-route a {
	color: #fff;
	font-size: 1.1em;
	text-decoration: none;
	font-weight: 600;
}

.social-container {
	position: absolute;
	top: 96px;
	right: 66px;
}

.social-list {
	list-style-type: none;
	display: flex;
	flex-direction: column;
	gap: 12px;
}

.social-list li {
	cursor: pointer;
	transition: transform 0.2s ease;
}

.social-list li:hover {
	transform: scale(1.3);
}


#navigation-container {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-20%, -50%);
	transition: opacity .4s ease;
	-webkit-transition: opacity .4s ease;
	-moz-transition: opacity .4s ease;
	-ms-transition: opacity .4s ease;
	-o-transition: opacity .4s ease;
}

.navigation-list {
	display: flex;
	list-style-type: none;
	gap: 50px;
}

.control {
	color: white;
	opacity: 0.9;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-end;
}

.control span {
	font-family: "Lacquer", sans-serif;
	font-size: 3em;
}

.control div {
	font-family: "League Gothic", sans-serif;
	font-size: 5em;
	text-decoration: none;
	color: inherit;
	transition: all 0.7s ease;
}

.control.current-author {
	opacity: 1;
	border-bottom: 2px solid white;
}

.control.current-author div {
	font-size: 13em;
}

.slide {
	height: 100%;
	width: 100vw;
}

@media (max-width: 1800px) {
	.control div {
		font-size: 3em;
	}

	.control.current-author div {
		font-size: 8em;
	}
}

@media (max-width: 1250px) {
	.control div {
		font-size: 2em;
	}

	.control.current-author div {
		font-size: 5em;
	}
}

@media (max-width: 992px) {
	#social-container {
		right: 20px;
	}

	.page-head {
		left: 40px;
	}

	#navigation-container {
		top: 70%;
		left: 30px;
	}

	.navigation-list {
		flex-direction: column;
		gap: 10px;
	}

	.control div,
	.control.current-author div {
		font-size: 3em;
	}
}

@media (max-width: 768px) {
	#navigation-container {
		top: 70%;
		left: 30px;
	}

	.social-container {
		position: absolute;
		top: 25px;
		right: 20px;
	}
	

	.navigation-list {
		gap: 10px;
	}

	.control div,
	.control.current-author div {
		font-size: 3em;
	}
}

@media (max-width: 425px) {
	#navigation-container {
		top: 60%;
		left: 20px;
	}

	.navigation-list {
		gap: 10px;
	}

	.control div,
	.control.current-author div {
		font-size: 2em;
	}
}

::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
	background: #888;
}

::-webkit-scrollbar-thumb:hover {
	background: #555;
}